.container {
  width: 100%;
  max-width: calc(1440px + 76px);
  margin: 0 auto;
  padding: 45px 76px;
  padding-bottom: 0;
}

@media screen and (max-width: 1440px) {
  .container {
    padding: 45px 76px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    padding: 45px 48px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding: 45px 32px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding: 45px 16px;
  }
}
