.container {
  margin-bottom: 155px;
}

.heading {
  width: 100%;
  height: auto;
  margin-bottom: 28px;
}

.description {
  max-width: 738px;
  color: #d9d9d9;
  font-family: Monument Extended;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.08px;
  margin-bottom: 58px;
}

.funProjectContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.funProject {
  width: 100%;
  max-width: 1328px;
  height: 158px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 13px;
  position: relative;
  border-bottom: 1px solid #171718;
}

.funProject:first-child {
  border-top: 1px solid #171718;
}

.text {
  color: #3e4044;
  font-family: Monument Extended;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 46.875% */
  letter-spacing: 1px;
  position: relative;
  z-index: 1;
  transition: all 650ms;
}

.text::after {
  content: attr(data-index);
  position: absolute;
  right: -24px;
  top: 0;
  color: #3e4044;
  font-family: Krona One;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.08px;
  transition: all 650ms;
}

.bg {
  width: 100%;
  height: 0%;
  position: absolute;
  left: 0;
  transition: all 650ms;
  background: transparent;
}

.funProject:hover .text::after {
  color: #fff;
}

.funProject:hover .text {
  color: #fff;
}

.funProject:hover .bg {
  background: #3e4044;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .text {
    font-size: 56px;
  }
}

@media screen and (max-width: 1024px) {
  .text {
    font-size: 48px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-bottom: 84px;
  }

  .description {
    color: #d9d9d9;
    font-family: Monument Extended;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 216.667% */
    letter-spacing: 0.06px;
  }

  .funProjectContainer {
    gap: 34px;
  }

  .funProject {
    height: 48px;
    padding: 0;
  }

  .text {
    color: #3e4044;
    font-family: Monument Extended;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 93.75% */
    letter-spacing: 1px;
  }
}
