.container {
  margin-bottom: 111px;
}

.heading {
  width: 100%;
  max-width: 959px;
  height: auto;
  margin-bottom: 14px;
}

.description {
  width: 100%;
  max-width: 611px;
  color: #d9d9d9;
  font-family: Monument Extended;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.08px;
  margin-bottom: 29px;
}

.section1 {
  height: 378px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #171718;
  border-bottom: 1px solid #171718;
}

.section1 .left {
  width: 310px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-right: 1px solid #171718;
}

.section1 .right {
  flex: 1;
  height: 100%;
  padding-left: 101px;
  padding-top: 47px;
}

.section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #171718;
}

.section2 .left,
.section2 .right {
  padding: 56px 75px;
}

.section2 .left {
  border-right: 1px solid #171718;
}

.number {
  font-family: Monument Extended;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 46.875% */
  letter-spacing: 1px;
  margin-bottom: 34px;
  color: transparent;
  -webkit-text-stroke: 1px #3e4044;
}

.name {
  color: #d9d9d9;
  font-family: Monument Extended;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
  letter-spacing: 0.08px;
  margin-bottom: 1px;
}

.role {
  color: #5f656f;
  font-family: Monument Extended;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 216.667% */
  letter-spacing: 0.06px;
  margin-bottom: 13px;
}

.review {
  color: #3e4044;
  font-family: Monument Extended;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 200% */
  letter-spacing: 0.065px;
}

.loveContainer {
  border-radius: 24px;
  border: 1px solid #222229;
  background: #0e0f0f;
  box-shadow: 11px 12px 23px 0px rgba(0, 0, 0, 0.25);
  width: 73px;
  height: 73px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
