.container {
  background: linear-gradient(180deg, #202124 0%, rgba(32, 33, 36, 0) 100%);
  margin-bottom: 110px;
}

.container > img,
.heading {
  width: 100%;
  height: auto;
}

.stages {
  max-width: calc(1440px + 76px);
  margin: 0 auto;
  padding: 45px 76px;
  padding-bottom: 0;
}

.stage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 68px;
}

.topic {
  color: #fff;
  font-family: Krona One;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  position: relative;
}

.topic::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #14d3b2;
  border-radius: 50%;
  right: -16px;
  bottom: 16px;
}

.text ul li,
.text {
  width: 100%;
  max-width: 846px;
  color: #7d8387;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
}

.text span {
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  /* 193.75% */
  letter-spacing: 1px;
  color: #fff;
}

.brandA {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 17.41px;
}

.brandA img {
  width: 100%;
  height: auto;
}

.brandB {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.brandB img {
  width: 100%;
  height: auto;
}
